.Rhistory
.Rapp.history
.RData
.Ruserdata
*.html
*.md
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
data/
plots/
documents/
/PanArctic_DSL_statistics_files/figure-html
/PanArctic_DSL_remote_sensing_files/figure-html
/PanArctic_DSL_figures_files/figure-html
/PanArctic_DSL_CTD_files/figure-html
/PanArctic_DSL_acoustics_files/figure-html
/.ipynb_checkpoints
/PanArctic_DSL_acoustics_cache
/PanArctic_DSL_figures_cache
/PanArctic_DSL_remote_sensing_cache